{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
{% if request.user.is_authenticated %}
    <h1>Insertar una pregunta</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
    <a href="{% url 'index' %}">Ver preguntas</a> 
{% else %}
    <br />
    <h2>Zona restringida</h2>
    <img src="https://media.giphy.com/media/3faT4z5qdm19t86ebI/giphy.gif" style="display: block;margin-left: auto;margin-right: auto;">
{% endif %}
{% endblock %}